@model PanizoMVC.Restaurante
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- column (left)-->
<div class="one-column">
    <h2>@Model.Nombre</h2>
    <fieldset>
        <div>
            <label>
                Teléfono:</label><h6>@Model.Telefono</h6>
        </div>
        <div>
            <label>
                Email:</label><h6>@Model.Email</h6>
        </div>
        <div>
            <label>
                Página Web:</label><h6>@Model.Web</h6>
        </div>
        <div>
            <label>
                Dirección:</label><h6>@Model.Direccion
                    <br />
                    @Model.CP @Model.Ciudad.Nombre</h6>
        </div>
    </fieldset>
</div>
<!-- column (right)-->
<div class="one-column">
    <!-- content -->
    <div id="map_canvas" style="width: 438px; height: 267px;">
    </div>
    <p>@Model.Descripcion</p>
    <p>
        Registrado desde @Model.FechaCreacion.ToShortDateString()</p>
</div>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function () {
        initialize();
    });

    var map = null;
    var geocoder = null;

    function initialize() {
        geocoder = new google.maps.Geocoder();

        var query = "@(Model.Direccion) @(Model.CP) @(Model.Ciudad.Nombre)'";
        geocode({ 'address': query });
    }

    function geocode(request) {
        var location = geocoder.geocode(request, showResults);
        return location;
    }

    function showResults(results, status) {
        if (!results) {
            alert("Geocoder did not return a valid response");
        } else {
            if (status == google.maps.GeocoderStatus.OK) {
                var latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());

                results[0].geometry.location;

                var myOptions = {
                    zoom: 18,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var divMap = document.getElementById("map_canvas");
                map = new google.maps.Map(divMap, myOptions);

                var image = new google.maps.MarkerImage(
                    '@Url.Content("/Content/images/marker-images/image.png")',
                    new google.maps.Size(60, 40),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(30, 40)
                );

                var shadow = new google.maps.MarkerImage(
                    '@Url.Content("/Content/images/marker-images/shadow.png")',
                    new google.maps.Size(84, 40),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(30, 40)
                  );

                var marker = new google.maps.Marker
                (
                    {
                        draggable: false,
                        raiseOnDrag: false,
                        position: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()),
                        map: map,
                        icon: image,
                        shadow: shadow,
                        title: '@(Model.Nombre)'
                    }
                );

                var infowindow = new google.maps.InfoWindow({
                    content: '@(Model.Nombre)<br/>@(Model.Telefono)<br/>@(Model.Direccion) @(Model.CP)<br/>@(Model.Ciudad.Nombre)'
                });
                google.maps.event.addListener(marker, 'click', function () {
                    // Calling the open method of the infoWindow 
                    infowindow.open(map, marker);
                });
            }
        }
    }
</script>
