@model IEnumerable<PanizoMVC.Restaurante>

@{
    ViewBag.Title = "Todos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IdCiudad
        </th>
        <th>
            Nombre
        </th>
        <th>
            Direccion
        </th>
        <th>
            CP
        </th>
        <th>
            Telefono
        </th>
        <th>
            Descripcion
        </th>
        <th>
            FechaCreacion
        </th>
        <th>
            Web
        </th>
        <th>
            Email
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCiudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
    </tr>
}

</table>
