@model IEnumerable<PanizoMVC.Models.ValoracionRestaurante>
@{
    ViewBag.Title = "Todos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Últimos Restaurantes</h2>
<table>
    <tr>
        <th align="center" style="width: 12%;">
            Ciudad
        </th>
        <th align="center" style="width: 20%;">
            Nombre
        </th>
        <th align="center" style="width: 15%;">
            Dirección
        </th>
        <th align="center" style="width: 30%;">
            Descripción
        </th>
        <th align="center" style="width: 8%;">
            Fecha
        </th>
        <th align="center" style="width: 15%;">
            Valoración
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td align="center">
                @Html.ActionLink(item.restaurante.Ciudad.Nombre, "Details", new { id = item.restaurante.Id })
            </td>
            <td align="center">
                @Html.ActionLink(item.restaurante.Nombre, "Details", new { id = item.restaurante.Id })
            </td>
            <td align="center">
                @Html.ActionLink(item.restaurante.Direccion, "Details", new { id = item.restaurante.Id })
            </td>
            <td align="center">
                @{
                    String descripcion = item.restaurante.Descripcion;
                    if (item.restaurante.Descripcion.Length > 150)
                    {
                        descripcion = item.restaurante.Descripcion.Substring(0, 150) + " ...";
                    }
                }
                @Html.ActionLink(descripcion, "Details", new { id = item.restaurante.Id })
            </td>
            <td align="center">
                @Html.ActionLink(item.restaurante.FechaCreacion.ToString("dd/MM/yy HH:mm"), "Details", new { id = item.restaurante.Id })
            </td>
            <td align="center">
                @Html.Partial("PartialValoracion", item.restaurante.VotosRestaurante.ToList())
            </td>
        </tr>
    }
</table>
