@model PanizoMVC.Restaurante

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Restaurante</legend>

    <div class="display-label">IdCiudad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCiudad)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Direccion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">CP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CP)
    </div>

    <div class="display-label">Telefono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">FechaCreacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
