@model PanizoMVC.Bocadillo
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<form id="contactForm" action="@Url.Action("Create", "Bocadillo")" method="post">
<!-- column (left)-->
<div class="one-column">
    <!-- form -->
    <br />
    <h2>
        Nuevo Bocadillo</h2>
    <br />
    <fieldset>
        <div>
            @Html.LabelFor(model => model.Nombre)
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-poshytip", title = "Introduce el nombre del bocadillo", tabindex = 1 })
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div>
            @Html.LabelFor(model => model.Descripcion)
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-poshytip", title = "Una breve descripción", rows = "5", cols = "20", tabindex = 2 })
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
        <div>
            @Html.LabelFor(model => model.Precio)
            @Html.TextBoxFor(model => model.Precio, new { @class = "form-poshytip", title = "Introduce el precio del bocadillo", tabindex = 3 })
            @Html.ValidationMessageFor(model => model.Precio)
        </div>
        <div>
            @Html.Hidden("IdRestaurante", ViewData["IdRestaurante"])
        </div>
    </fieldset>
    <p>
        <input type="submit" value="AÑADIR" name="submit" id="submit" tabindex="9" title="Añadir Bocadillo" /></p>
    <p id="error" class="warning">
        Message</p>
    <p id="success" class="success">
        Thanks for your comments.</p>
    <!-- ENDS form -->
</div>
<!-- ENDS column -->
<!-- column (right)-->
<div class="one-column">
    <br />
    <h2>
        &nbsp;</h2>
    <br />
</div>
<!-- ENDS column -->
</form>
@Html.Partial("PartialIngredientes")