<script type="text/javascript">
    $(function () {
        $("#message").fadeIn(2000);
        $("#message").delay(2000);
        $("#message").fadeOut();


        $("#closeMessage").click(function () {
            $("#message").fadeOut();
        });
    });
</script>
@{
    PanizoMVC.Models.Message msg = (PanizoMVC.Models.Message)ViewBag.Message;
    if (msg != null)
    {
        if (msg.type == PanizoMVC.Models.TypeMessage.Create)
        {
    <div id="message" class="info-add" style="display: none;">
        <div style="width: 90%; float: left;">
            @msg.text
        </div>
        <div style="width: 10%; float: left; text-align: right;">
            <a id="closeMessage" href="#">X</a>
        </div>
    </div>
        }
        else if (msg.type == PanizoMVC.Models.TypeMessage.Error)
        {
    <div id="message" class="error-box" style="display: none;">
        <div style="width: 90%; float: left;">
            @msg.text
        </div>
        <div style="width: 10%; float: left; text-align: right;">
            <a id="closeMessage" href="#">X</a>
        </div>
    </div>
        }
        else if (msg.type == PanizoMVC.Models.TypeMessage.Information)
        {
    <div id="message" class="information-box" style="display: none;">
        <div style="width: 90%; float: left;">
            @msg.text
        </div>
        <div style="width: 10%; float: left; text-align: right;">
            <a id="closeMessage" href="#">X</a>
        </div>
    </div>
        }
        else if (msg.type == PanizoMVC.Models.TypeMessage.Vote)
        {
    <div id="message" class="favorite-box" style="display: none;">
        <div style="width: 90%; float: left;">
            @msg.text
        </div>
        <div style="width: 10%; float: left; text-align: right;">
            <a id="closeMessage" href="#">X</a>
        </div>
    </div>
        }
        else if (Model.type == PanizoMVC.Models.TypeMessage.Warning)
        {
    <div id="message" class="warning-box" style="display: none;">
        <div style="width: 90%; float: left;">
            @Model.text
        </div>
        <div style="width: 10%; float: left; text-align: right;">
            <a id="closeMessage" href="#">X</a>
        </div>
    </div>
        }
    }
}
<div id="messageVote" class="favorite-box" style="display: none;">
    <div style="width: 90%; float: left;">
        @Resources.Mensajes.txtVoto
    </div>
    <div style="width: 10%; float: left; text-align: right;">
        <a id="closeMessage" href="#">X</a>
    </div>
</div>
