@model PanizoMVC.Models.LogOnModel
<div align="center">
    <br />
    <h2>
        Acceder a Entrepan.Net</h2>
    <p>
        <br />
        Por favor introduzca su email y su contraseña. @Html.ActionLink("Registrate", "Register")
        si no tienes cuenta, o bien acceda mediante Twitter o Facebook.
    </p>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Html.ValidationSummary(true, "Acceso incorrecto. Por favor corrija los errores y pruebe de nuevo.")
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { id = "contactForm" }))
{    
    <div style="padding: 0px 5% 0px 5%;">
        <div style="width: 35%; height: 240px; float: left;">
            <div style="margin-left: 20px; text-align: left;">
                <div>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-poshytip", title = "Introduce tu nombre de usuario.", style = "width:200px;", tabindex = 1 })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-poshytip", title = "Introduce tu contraseña.", style = "width:200px;", tabindex = 2 })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <p>
                    <input type="submit" value="ACCEDER" name="submit" id="submit" tabindex="3" style="width: 100px;"
                        title="Acceder" /></p>
            </div>
        </div>
        <div style="width: 65%; height: 120px; float: left;" align="center">
            <div class="FacebookLogInBtn">
                <p>
                    @Html.ActionLink("Accede con Facebook", "LogOn", "Facebook", new { returnurl = "http://localhost:50649/" }, null)
                </p>
            </div>
        </div>
        <div style="width: 65%; height: 120px; float: left;" align="center">
            <div class="TwitterLogInBtn">
                <p>
                    @Html.ActionLink("Accede con Twitter", "CallBack", "Twitter", null, null)
                </p>
            </div>
        </div>
    </div>
}
